*{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: crimson;
    text-align: center;
    background-color: beige;
    padding: 30px;
}
h3{
    color: crimson;
    background-color: beige;
    padding: 10px;
}
.item li, ol li{
    background-color: lightpink;
    padding: 16px;
    margin-left: 30px;
    margin-right: 30px;
    
}

ol li, .item li{
    margin-bottom: 10px;
}




.item{
    font-size: x-large;
    
}



.conclusion{
    background-color: beige;
    padding: 30px;
}
